<%= form_for @post, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :image_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :image_url, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :music_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :music_url, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :video_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :video_url, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :message, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :message, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  posts_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
